/*The following CSS applies to all pages.*/

body, html
{
	height: 100%;
	background-color: black;
}

/*The following is the CSS for the Home page.*/

.parallax_image
{
	/* The image used as the background.*/
	background-image: url("images/tech.jpg");
	opacity: 0.88;

	/* Set full height. */
	min-height: 100%; 

	/* Create the parallax scrolling effect. */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_text
{
	/* Create the parallax scrolling effect. */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Set the design specifications for the block of text.*/
	height: 160px;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: "Lato", sans-serif;
}

#intro
{
	letter-spacing: 2px;
}

.title
{
	/*The colour is a light turquoise.*/
	color: #C3DFD1;

	/*Set the style specifications for the title.*/
	font-size: 60px;
	font-family: "Lato", sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;

	/*Set the position for the title to the middle of the screen.*/
	text-align: center;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
}

ul.home_navbar
{
	/*Set the style specifications for the nav bar list.*/
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: black;
	width: 100%;
}

li
{
	float: left;
	/*Divide the width evenly for each link.*/
	width: 20%;
}

li a
{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-family: "Lato", sans-serif;
	text-decoration: none;
}

li a:hover
{
	/*This colour is a dark grey.*/
	background-color: #333;
}

/*The following CSS applies to all pages except the Home page.*/

#mySidenav a
{
	/*Position the tabs relative to the browser window, outside of the screen.*/
	position: absolute;
	right: -85px;
	
	/*Set the time it will take for each tab to display in its entirety.*/
	transition: 0.3s;
	
	/*Set the style specifications for each tab.*/
	padding: 15px;
	width: 110px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	
	/*Rounded corners on the top right and bottom right side.*/
	border-radius: 5px 0 0 5px;
	font-family: Lucida Sans Unicode;
}
 
#mySidenav a:hover
{
	/*On mouse-over, make the elements appear fully.*/
	right: 0;
}
 
#home
{
	top: 50px;
	/*This colour is a faded teal.*/
	background-color: #648B8B;
	text-align: right;
}
 
#story
{
	top: 150px;
	/*This colour is light teal.*/
	background-color: #147B7B;
	text-align: right;
}
 
#gallery
{
	top: 250px;
	/*This colour is a teal.*/
	background-color: #1F5252;
	text-align: right;
}

#about
{
	top: 350px;
	/*This colour is a dark teal.*/
	background-color: #284240;
	text-align: right;
}

#sources
{
	top: 450px;
	/*This colour is a grey-ish teal.*/
	background-color: #223B3B;
	text-align: right;
}

body.not_index
{
	/*Set a different background image than the home page.*/
	background-image: url("images/bgpic.jpg");
	background-size: cover;
}

h1.page_title
{
	color: white;
	font-family: "Bookman", sans-serif;
	text-shadow: 3px 3px 10px white;
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
}

/*The following is the CSS for the Story page.*/

.story
{
	color: white;
	text-align: justify;
	text-indent: 50px;
	vertical-align: text-top;
	font-family: "Lato", sans-serif;
	margin-right: 25px;
}

ul.story_navbar
{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	text-transform: uppercase;
}

li.story_navbar
{
	width: 25%;
	text-decoration: underline;
}

li.story_navbar a
{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-family: "Lato", sans-serif;
	text-decoration: none;
}

li.story_navbar a:hover
{
	/*This colour is a dark grey.*/
	background-color: #333;
}

#part1 
{
	text-align: left;
	font-size: 25px;
	color: white;
	font-family: "Lato", sans-serif;
}

#part2
{
	text-align: left;
	font-size: 25px;
	color: white;
	font-family: "Lato", sans-serif;
} 

#part3
{
	text-align: left;
	font-size: 25px;
	color: white;
	font-family: "Lato", sans-serif;
}

#part4
{
	text-align: left;
	font-size: 25px;
	color: white;
	font-family: "Lato", sans-serif;
}

/*The following is the CSS for the Gallery page.*/

*
{
	box-sizing: border-box;
}

body.gallery
{
	font-family: "Lato", sans-serif;
	margin:0;
}

.mySlides
{
	display: none;
}

img.gallery 
{
	vertical-align: middle;
	
}

/* Set the size for the slideshow container.*/
.slideshow-container
{
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/*Set the style specifications for the "next" and "previous" arrow buttons.*/
.prev, .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/*Position the "next button" to the right. */
.next
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color and make it a bit less opaque. */
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
}

/*Set the style specifications for the captions.*/
.text
{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-family: "Lato", sans-serif;
}

/*Set the style specifications for the number indicating the current image.*/
.numbertext
{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-family: "Lato", sans-serif;
}

/*Set the style specifications for the dots beneath the pictures.*/
.dot
{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	/*This colour is grey.*/
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover
{
	/*This colour is a light grey.*/
	background-color: #717171;
}

/*Set the specifications for the fading animation.*/
.fade
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
	from
	{
		opacity: .4;
	} 
	to
	{
		opacity: 1;
	}
}

@keyframes fade 
{
	from
	{
		opacity: .4;
	} 
	to 
	{
		opacity: 1;
	}
}

/*Decrease the text size for smaller screens. */
@media only screen and (max-width: 300px)
{
	.prev, .next,.text
	{
		font-size: 11px;
	}
}

.slideshow_dots
{
	text-align: center;
}

/*The following CSS is for the About page.*/

body.about
{
	/* Sets the background image */
	background-image: url("images/bgpic.jpg");
	background-size: cover;
	font-family: "Bookman", sans-serif;
	margin: 75px;
}

.description
{
	/* the style for the text under the title */
	font-family:"Bookman", sans-serif;
	color: white;
	text-align: center;
}
.tablink
{
	/* Style for the selected tab. The colour of the selected tab is a light grey. */
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 16.666%;
}
.tablink:hover
{
	/*This colour is grey. */
	background-color: #777;
}

.tabcontent
{
	/*Style for the colour and position of the text in the tabs. */
	color: white;
	display: none;
	padding: 50px;
	text-align: center;
	font-family: "Lato", sans-serif;
}
/* Different background colours for the tabs */
/* the first, third and the fifth colours are a light grey teal, while the rest are dark teal */
#Lilith
{
	/*This colour is a light teal.*/
	background-color:#648B8B;
}
#Quinn
{
	/*This colour is teal.*/
	background-color:#147B7B;
}
#Eve
{
	/*This colour is a light teal.*/
	background-color:#648B8B;
}
#Lana
{
	/*This colour is teal.*/
	background-color:#147B7B;
}
#Mavis
{
	/*This colour is a light teal.*/
	background-color:#648B8B;
}
#Nakia
{
	/*This colour is teal.*/
	background-color:#147B7B;
}

.description_text
{
	font-family:"Bookman", sans-serif;
	color: white;
	text-align: center;
}

/*The following CSS applies to the Sources page.*/
.sources
{
	color: white;
	text-align: justify;
	font-size: 15px;
	font-family: "Lato", sans-serif;
}